@if (cupcake) {
  <div class="cupcake-container">
    <div class="cupcake">
      <img [src]="cupcake.url" alt="accessory" />
      <div class="cream">
        <div
          class="cream-1"
          [ngStyle]="{ backgroundColor: cupcake.color1 }"
        ></div>
        <div
          class="cream-2"
          [ngStyle]="{ backgroundColor: cupcake.color2 }"
        ></div>
        <div
          class="cream-3"
          [ngStyle]="{ backgroundColor: cupcake.color3 }"
        ></div>
      </div>
      <div class="bottom">
        <div class="bottom-in">
          <div class="face">
            <div class="eyes">
              <div class="left-eye"></div>
              <div class="right-eye"></div>
            </div>
            <div class="mouth"></div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="cupcake-name">{{ cupcake.name }}</div>
  </div>
}


