<h1>My cupcakes</h1>
<form class="center">
  <label htmlFor="cupcake-select">
    Filter by
    <select
      id="cupcake-select"
      name="cupcake-select"
    >
      <option value="">---</option>
      <!-- * Step 4: add an option for each accessory * -->
      <option *ngFor="let accessory of accessories" [value]="accessory.id">
        {{ accessory.name }}
      </option>
    </select>
  </label>
</form>
<ul class="cupcake-list" id="cupcake-list">
  <!-- * Step 2: repeat this block for each cupcake * -->
  <li class="cupcake-item" *ngFor="let cupcake of cupcakes">
    <app-cupcake [cupcake]="cupcake"></app-cupcake>
  </li>
</ul>


<h1>Accessories</h1>
<table class="accessory-table">
  <thead>
    <tr>
      <!-- <th>Image</th>
      <th>Name</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let accessory of accessories">
      <td><img [src]="accessory.url" [alt]="accessory.name" width="50" height="50" /></td>
      <td>{{ accessory.name }}</td>
    </tr>
  </tbody>
</table>
